@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;800;900&family=Roboto:wght@100;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.entete{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a#titre-site{
    font-size: 1.4rem;
    font-weight: 900;
    margin-right: 3em;
    color: rgba(9, 78, 239, 0.889);
}
.entete .logo{
    width: 180px;
    height: 80px;
}
.entete .rx-sociaux{
    position: relative;
    display: flex;
}
.entete .rx-sociaux span{
    margin: 0 15px;
    font-size: 1.5rem;
    color: rgba(9, 78, 239, 0.889);
}
nav#navigation{
    position: sticky;
    top: 20px;
    z-index: 5;
    width: 100%;
}
nav div ul#menu-principal li a{
    color: rgb(9, 9, 9);
    margin-left: 10px;
}
nav div ul#menu-principal li a:hover, nav div ul#menu-principal li a.active, 
nav div ul#menu-principal li ul#sous-menu li a:hover{
    color: rgba(9, 78, 239, 0.777);
    font-weight: bold;
}
nav div ul#menu-principal li ul#sous-menu li a{
    color: rgba(13, 12, 12, 0.859);
}
a{
    color: aqua;
}
.main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px 10px;
}
.main .map{
    width: 400px;
    height: 350px;
}
.main .coordonner{
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 80px;
}
.main .coordonner p, .main .coordonner li{
    font-weight: bold;
}
.main .coordonner li{
    list-style: none;
    text-decoration: none;
}
.main .formulaire{
    width: 350px;
}
h2{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgba(9, 78, 239, 0.889);
}
.main .formulaire form{
    width: 100%;
}
.main .formulaire form input, .main .formulaire form textarea{
    width: 100%;
    margin: 7px 10px;
}
footer{
    width: 100%;
    background-color: #0062ff;
    color: #fff;
    margin-bottom: 0px;
}
footer p{
    text-align: center;
    font-size: 1.2rem;
    padding: 15px 0px;
}
footer p a{
    color: #fd0a0a;
    text-decoration: none;
    font-weight: bold;
}
@media screen and (max-width:600px) {
    .entete .logo{
        width: 120px;
        height: 60px;
    }
    .entete .rx-sociaux span{
        margin: 0 5px;
        font-size: 1rem;
        color: rgba(9, 78, 239, 0.889);
    }
    footer{
        width: 100%;
        bottom: 0;
        margin-top: 80px;
        margin-bottom: 0px;
    }
    footer p{
        width: 100%;
        text-align: center;
        font-size: 1rem;
        padding: 15px 0px;
    }
    .main{
        width: 100%;
        display: block;
    }
    .main .map{
        display: none;
    }
    .main .coordonner{
        width: 100%;
        margin-top: -5px;
        text-align: center;
        gap: 5px;
        line-height: 2;
        border-bottom: 1px solid rgb(62, 87, 112);
    }
    .main .coordonner a{
        text-decoration: none;
        color: #000000;
    }
    .main .formulaire{
        width: 90%;
        margin: -20px 5px;
        display: block;
        position: relative;
        top: 50px;
        background-image: url(../images/pc1.png);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: auto;
        z-index: 20;
    }
    .main .formulaire h2{
        font-size: 1.5em;
    }
}