
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;300;400;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.main-principal{
    min-height: 100%;
    position: relative;
}
.entete{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a#titre-site{
    font-size: 1.4rem;
    font-weight: 900;
    margin-right: 3em;
    color: rgba(9, 78, 239, 0.889);
}
.entete .logo{
    width: 180px;
    height: 80px;
}
.entete .rx-sociaux{
    position: relative;
    display: flex;
}
.entete .rx-sociaux span{
    margin: 0 15px;
    font-size: 1.5rem;
    color: rgba(9, 78, 239, 0.889);
}
nav#navigation{
    position: sticky;
    top: 2px;
    z-index: 5;
    width: 100%;
}
nav div ul#menu-principal li a{
    color: rgb(9, 9, 9);
    margin-left: 10px;
    font-weight: 700;
}
nav div ul#menu-principal li a:hover, nav div ul#menu-principal li a.active, 
nav div ul#menu-principal li ul#sous-menu li a:hover{
    color: rgba(9, 78, 239, 0.777);
    font-weight: bold;
    font-weight: 700;
}
nav div ul#menu-principal li ul#sous-menu li a{
    color: rgba(13, 12, 12, 0.859);
}
a{
    color: aqua;
}
.main-principal .main .image-principale .imgacceuil img{
    width: 100%;
}
.textcentre{
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px 0;
    color: #fff;
}
.textcentre h2{
    font-size: 3em;
    font-weight: 700;
    color: #000000;
}
.sectionP{
    width: 96%;
    display: flex;
    margin: 10px auto;
}
.sectionP .sous-section1{
    width: 70%;
}
.sectionP .sous-section1 .block{
    display: flex;
    margin: 20px 10px;
}
.sectionP .sous-section1 .block p{
    margin: 0px 10px 0px 20px;
}
.sectionP .sous-section1 .block img{
    border-radius: 15px;
}
.sectionP .sous-section2{
    width: 30%;
    border: solid black;
}
.sectionP .sous-section2 h3{
    font-size: 1.8em;
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
    padding: 20px 10px;
    font-family: 'Lato', sans-serif;
}
.sectionP .sous-section2 ul li .fontRouge{
    border: solid black 1px;
}

.sectionP .sous-section2 ul li.menu1{
    list-style: none;
    padding: 5px 0px;
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(8, 8, 9) ;
    /*background-color: hsl(0, 12%, 92%);*/
    border-radius: 20px;
    margin: 15px auto;
    padding: 7px 30px;
    position: relative;
}
.sectionP .sous-section2 .menu1 .sous-menu1{
    list-style: none;
    margin-left: 30px;
    padding: 2px 0px;
    font-size: 0.9em;
    font-weight: 100;
    display: none;
}
.sectionP .sous-section2 .menu1 .sous-menu1 li.menu2{
    background-color: #a9c8f9;
    margin: 5px 20px;
    padding: 3px 5px;
    border-radius: 15px;
}
.sectionP .sous-section2 .menu1 .maintenance:hover .sous-menu1{
    display: block;
}
.sectionP .sous-section2 ul li.menu22{
    list-style: none;
    margin-left: 30px;
    padding: 2px 0px;
    display: none;
}

/* ***************Mise en forme de la partie pied de la page******************* */
footer{
    width: 100%;
    position: relative;
    background-color: #2f4b78;
    color: #fff;
    bottom: 0;
}
footer ul.menufooter{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    list-style-type: none;
}
footer ul.menufooter li a{
    margin-left: 40px;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Abel', sans-serif;
    color: white;
}
footer ul.menufooter li a:hover{
    text-decoration: underline;
    color: #4085f4;
}
footer div.rx-sociaux-footer{
    padding: 20px 0px;
    text-align: center;
}
footer div.rx-sociaux-footer span i{
    font-size: 2em;
    margin-left: 20px;
}
footer div.rx-sociaux-footer span i:hover{
    color: #4085f4;
}
footer p{
    text-align: center;
    font-size: 1rem;
    padding: 15px 0px;
    font-weight: 400;
    font-family: 'Abel', sans-serif;
}

@media screen and (max-width:600px) {
    .entete .logo{
        width: 120px;
        height: 60px;
        margin-left: 15px;
    }
    .entete .rx-sociaux{
        margin-right: 20px;
    }
    .entete .rx-sociaux span{
        margin: 0 5px;
        font-size: 0.8rem;
        color: rgba(9, 78, 239, 0.889);
    }
    footer{
        width: 100%;
        position: relative;
        background-color: #2f4b78;
        color: #fff;
        bottom: 0;
    }
    footer ul.menufooter{
        display: block;
        text-align: center;
        padding: 30px 0px 5px 0px;
        list-style-type: none;
    }
    footer ul.menufooter li a{
        text-decoration: none;
        font-size: 1.3em;
        font-family: 'Abel', sans-serif;
        color: white;
    }
    footer ul.menufooter li a:hover{
        text-decoration: underline;
        color: #4085f4;
    }
    footer div.rx-sociaux-footer{
        padding: 10px 0px;
        text-align: center;
    }
    footer div.rx-sociaux-footer span i{
        font-size: 1.3em;
        margin-left: 10px;
    }
    footer div.rx-sociaux-footer span i:hover{
        color: #4085f4;
    }
    footer p{
        text-align: center;
        font-size: 0.8rem;
        padding: 15px 0px;
        font-weight: 200;
        font-family: 'Abel', sans-serif;
    }
}