
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;800;900&family=Roboto:wght@100;300;400;700;900&display=swap');

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.main-principal{
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;
}
.entete{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a#titre-site{
    font-size: 1.4rem;
    font-weight: 900;
    margin-right: 3em;
    color: rgba(9, 78, 239, 0.889);
}
.entete .logo{
    width: 180px;
    height: 80px;
}
.entete .rx-sociaux{
    position: relative;
    display: flex;
}
.entete .rx-sociaux span{
    margin: 0 15px;
    font-size: 1.5rem;
    color: rgba(9, 78, 239, 0.889);
}
nav#navigation{
    position: sticky;
    top: 20px;
    z-index: 5;
    width: 100%;
}
nav div ul#menu-principal li a{
    color: rgb(9, 9, 9);
    margin-left: 10px;
    font-weight: 700;
}
nav div ul#menu-principal li a:hover, nav div ul#menu-principal li a.active, 
nav div ul#menu-principal li ul#sous-menu li a:hover{
    color: rgba(9, 78, 239, 0.777);
    font-weight: bold;
    font-weight: 700;
}
nav div ul#menu-principal li ul#sous-menu li a{
    color: rgba(13, 12, 12, 0.859);
}
a{
    color: aqua;
}
.main{
    position: relative;
    width: 100%;
}
.main .image-principale img{
    position: static;
    width: 100%;
    
}
.info{
    width: 100%;
    display: block;
    
    text-align: center;
    font-size: 1.2rem;
    
    font-weight: 600;
    color: #fff;
}
.info p{
    font-size: 2em;
    padding: 20px 0;
    color: #000000;
}
.services{
    display: flex;
    margin: 15px 0;
    justify-content: center;
}
.services .service1{
    display: flex;
}
.card{
    width: 18rem;
    margin: 0 10px;
}

.card-img-top{
    background-color: #fff;
    padding: 0;
    margin: 0px;
}
.card-title{
    text-align: center;
    font-weight: bold;
}
.btn{
    display: block;
    margin: 5px auto;
}
#cours{
    background-color: rgb(239, 238, 238);
    color: rgba(9, 78, 239, 0.889);;
}
section.video{
    display: block;
    width: 100%;
    margin: 10px auto;
}
section.video .partieVideo{
    display: flex;
    justify-content: space-around;
}
section.video .partiePagination{
    margin: 10px auto 20px auto;
}
section.video video{
    border-radius: 10px;
}
.couverture{
    margin: 10px 20px;
}
footer{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #0062ff;
    color: #fff;
    bottom: 0;
}
footer p{
    text-align: center;
    font-size: 1.2rem;
    padding: 15px 0px;
}
footer p a{
    color: #df0101;
    text-decoration: none;
    font-weight: bold;
}
@media screen and (max-width:900px) {
    .services{
        display: flex;
        margin: 15px 0;
        justify-content: space-evenly;
    }
    .services .service1{
        display: block;
    }
    .card{
        margin: 10px 0px;
    }
}
@media screen and (max-width:600px) {
    .entete .logo{
        width: 120px;
        height: 60px;
    }
    .entete .rx-sociaux span{
        margin: 0 5px;
        font-size: 1rem;
        color: rgba(9, 78, 239, 0.889);
    }
    .services{
        width: 100%;
        display: block;
        flex: none;
        margin: 15px auto;
    }
    .services .service1{

        display: block;
    }
    .card{
        width: 95%;
        margin: 10px 2.5%;
        flex: none;
    }
    .card img{
        width: 18rem;
        height: 10rem;
        margin: 0 auto;
    }
    section.video{
        width: 100%;
        margin: 20px auto;
    }
    section.video video{
        border-radius: 10px;
        margin: 0px auto;
    }
    section.video .partieVideo{
        display: flex;
        justify-content: center;
    }
    section.video .partieVideo .numero1,
    section.video .partieVideo .numero2{
        display: none;
    }
    footer p{
    text-align: center;
    font-size: 1rem;
    padding: 15px 0px;
}
}
